# Ignore compiled binaries
gateway
*.exe
*.o

# SSH keys
id_ed25519*
ssh-agent*
ssh-keygen*
eval*


# Ignore Python cache
__pycache__/
*.pyc
venv/

# Ignore VS Code settings and extensions
.vscode/

# Ignore System files
.DS_Store